<a href="https://colab.research.google.com/github/seoy9/DALC_Scala/blob/main/DALC_Scala_4%EC%A3%BC_%EA%B3%BC%EC%A0%9C_Pandas_%EA%B8%B0%EC%B4%88_%EB%B0%8F_%EC%8B%A4%EC%8A%B5%26%EC%8B%AC%ED%99%94_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 기초 및 실습

## 3-1 Pandas로 데이터 가공하기

### 1. Pandas의 사용법
</br>

##### 1) Pandas 설치
[ __Pandas 개요__ ]
+ 정의
  + 데이터의 형태와 속성이 다양
  + 다양한 데이터를 일관성 있게 동일한 형태로 통합 필요
  + Pandas 라이브러리
+ 특징
  + 서로 다은 유형의 데이터를 공통의 형식으로 정리
  + 1차원 배열인 Series, 2차원 배열인 DataFrame 제공
  + 고수준의 연산 수행 가능

In [1]:
# Pandas 임포트 및 버전 확인
import pandas
pandas.__version__

'1.1.5'

In [2]:
import numpy as np
import pandas as pd

##### 2) Pandas 객체
</br>

[ __Series와 DataFrame의 구조__ ]
</br>

+ Series 구조
![시리즈 구조](https://github.com/seoy9/DALC_Scala/blob/2b8fc72e975d827c4d69d7aee0c07c36bb1fb8ca/%EB%8D%B0%EC%9D%B4%ED%84%B0%EA%B5%AC%EC%A1%B0.JPG?raw=true)
</br>

+ DataFrame 구조
</br>![데이터프레임 구조](https://github.com/seoy9/DALC_Scala/blob/aac429c14bf486f515d0e34b5142432eb7ac8e33/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84%EA%B5%AC%EC%A1%B0.JPG?raw=true)
  + 통합 인덱싱을 활용하여 데이터 조작 가능

</br>

##### 3) Series

In [3]:
# 리스트를 인자로 사용하여 시리즈 객체 생성
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
# values으로 접근 가능
data.values

RangeIndex(start=0, stop=4, step=1)

In [7]:
# index 속성으로 접근 가능
data.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
# 파이썬 대괄호 표기법을 통해 접근 가능
data[1]

0.5

In [9]:
# 인덱스와 슬라이싱 방식 사용
data[1:3]

1    0.50
2    0.75
dtype: float64

[ __Index__ ]
+ 정수일 필요가 없으며 어떤 타입의 값으로도 구성 가능

In [10]:
# 인덱스로 문자열 사용 가능
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [11]:
# 문자열 인덱스로 항목에 접근 가능
data['b']

0.5

In [12]:
# 인접하지 않거나 연속적이지 않은 인덱스를 사용하여 임의로 만들 수 있음
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [13]:
data[5]

0.5

[ __딕셔너리 구조__ ]
+ 일련의 임의의 값에 임의의 키를 매핑하는 구조
+ 타입이 지정된 키를 일련의 타입이 지정된 값에 매핑하는 구조

</br>

![딕셔너리 구조](https://github.com/seoy9/DALC_Scala/blob/5559b6554338c749250b7e4d4212f8ee748cc943/%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC%EA%B5%AC%EC%A1%B0.JPG?raw=true)
- 딕셔너리 키(k)는 Series의 __인덱스__로 대응
- 딕셔너리 값(v)는 Series의 __데이터 값__으로 변환

</br>

[ __딕셔너리로부터 시리즈를 만드는 예__ ]

In [69]:
population_dict = {'California': 38332521, 'Texas': 26448393, 'New York': 19651127, 'Florida': 19552860, 'lllinois': 12882135}
# 딕셔너리 정의 = {'키 값': value}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448393
New York      19651127
Florida       19552860
lllinois      12882135
dtype: int64

In [71]:
# 인덱스가 정렬된 키에서 추출되는 경우 값을 불러옴
population['California']

38332521

In [72]:
# 슬라이싱 같이 배열 스타일의 연산 지원
population['California':'lllinols']

KeyError: ignored

[ __객체 구성하기__ ]
+ pd.Series(data, index=index)
   + index는 옵션이기 때문에 생략 가능  
   기본값 : 0부터 연속된 정수수

In [17]:
# data: 리스트 혹은 Numpy 배열, index: 생략 가능
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [18]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [19]:
# Data가 딕셔너리일 경우에는 기본적으로 딕셔너리 키로 정렬해서 취함
dic_data = {2:'a', 1:'b', 3:'c'}
dic_data

{1: 'b', 2: 'a', 3: 'c'}

In [20]:
# Series 객체는 요소 값들이 입력된 순서대로 출력
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [22]:
# 각각 다른 결과를 얻고 싶으면 인덱스를 명시적으로 설정
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3,2])

3    c
2    a
dtype: object

##### 3) DataFrame
</br>

[ __구성 방법__ ]
</br>

![데이터프레임 구조](https://github.com/seoy9/DALC_Scala/blob/5559b6554338c749250b7e4d4212f8ee748cc943/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84%EA%B5%AC%EC%A1%B0.JPG?raw=true)
+ 열 인덱스 : 열 이름
+ 데이터프레임 : 행 인덱스와 열 이름을 갖는 행렬 = __Series 객체의 연속__

In [73]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'lllinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
lllinois      149995
dtype: int64

[ __DataFrame stated__ ]

In [74]:
states = pd.DataFrame({'population': population, 'area': area})
states

            population    area
California    38332521  423967
Texas         26448393  695662
New York      19651127  141297
Florida       19552860  170312
lllinois      12882135  149995

In [75]:
# 인덱스 라벨을 이용하여 요솟값에 접근할 수 있는 index 속성을 가짐
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'lllinois'], dtype='object')

In [76]:
# 열 라벨을 나타내는 index 객체인 columns 속성도 가짐
states.columns

Index(['population', 'area'], dtype='object')

In [77]:
# 열 이름을 인덱스로 지정하면 열 데이터로 이루어진 Series에 매핑
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
lllinois      149995
Name: area, dtype: int64

[ __데이터 구성하기__ ]

In [78]:
# 단일 Series로부터 DataFrame 구성 가능
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448393
New York      19651127
Florida       19552860
lllinois      12882135

In [79]:
pd.DataFrame(population, index=['Texas'], columns=['population'])

       population
Texas    26448393

In [80]:
# 누락된 자리는 NaN(not a number) 값으로 채움
pd.DataFrame([{'a': 1, 'b': 2,}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [81]:
# 여러 개의 Series 객체로부터 DataFrame 구성 가능
pd.DataFrame({'population': population, 'area': area})

            population    area
California    38332521  423967
Texas         26448393  695662
New York      19651127  141297
Florida       19552860  170312
lllinois      12882135  149995

In [82]:
# 2차원 배열에 열 이름과 인덱스를 지정하여 DataFrame 생성 가능
pd.DataFrame(np.random.rand(3,2), columns=['foo', 'bar'], index=['a', 'b', 'c'])

        foo       bar
a  0.463946  0.505832
b  0.414346  0.709507
c  0.470906  0.293567

## 3-2 Pandas로 데이터 연산하기

### 1. 인덱스
</br>

##### 1) Index 객체

In [40]:
# Index의 객체는 불변 배열
Ind = pd.Index([2, 3, 5, 7, 11])
Ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [41]:
# 여러 면에서 배열처럼 동작함
Ind[1]

3

In [42]:
Ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [44]:
print(Ind.size, Ind.shape, Ind.ndim, Ind.dtype)

5 (5,) 1 int64

[ __Index 객체 Vs Numpy 배열__ ]

In [45]:
# Index 객체는 변경될 수 없는 불변의 값 -> 안전하게 사용하고 공유할 수 있음
Ind[1] = 0

TypeError: ignored

[ __집합 연산__ ]

In [46]:
# 교집합: 공통의 요솟값만 추출하여 새로운 집합 생성
IndA = pd.Index([1, 3, 5, 7, 9])
IndB = pd.Index([2, 3, 5, 7, 11])
IndA & IndB

Int64Index([3, 5, 7], dtype='int64')

In [47]:
# 합집합: 두 객체의 요솟값을 모두 포함하는 집합 생성
IndA | IndB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [48]:
# 차집합: 첫 번째 객체에서 두 번째 객체의 요솟값을 제외
IndA ^ IndB

Int64Index([1, 2, 9, 11], dtype='int64')

### 인덱서
</br>

##### 1) 데이터 인덱싱과 선택
[ __loc vs iloc__ ]
</br>

![loc VS iloc](https://github.com/seoy9/DALC_Scala/blob/30e870316ab69170022396eff0cd15e8553fa41e/lovVSiloc.JPG?raw=true)

In [49]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [50]:
data.loc['a']

0.25

In [51]:
data.loc['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [52]:
data.iloc[1]

0.5

In [53]:
data.iloc[1:3]

b    0.50
c    0.75
dtype: float64

##### 2) DataFrame
</br>

[ __데이터 선택__ ]

In [83]:
import pandas as pd
area = pd.Series({'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'lllinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448393, 'New York': 19651127, 'Florida': 19552860, 'lllinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448393
New York    141297  19651127
Florida     170312  19552860
lllinois    149995  12882135

In [86]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
lllinois      149995
Name: area, dtype: int64

In [85]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
lllinois      149995
Name: area, dtype: int64

[ __딕셔너리__ ]

In [84]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448393   38.019028
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
lllinois    149995  12882135   85.883763

[ __2차원 배열__ ]

In [87]:
# values 속성을 통해 데이터 배열 확인
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64483930e+07, 3.80190279e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [88]:
# T 속성을 활용하면 행과 열 바꾸기 가능
data.T

           California         Texas      New York       Florida      lllinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644839e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801903e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [89]:
# Value 속성에 단일 인덱스를 전달 -> 행에 접근
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [90]:
# DataFrame에 열 이름을 전달 -> 열에 접근
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
lllinois      149995
Name: area, dtype: int64

In [91]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448393
New York    141297  19651127

In [92]:
data.loc[:'lllinois', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448393
New York    141297  19651127
Florida     170312  19552860
lllinois    149995  12882135

### 3. Pandas 산술 연산
</br>

##### 1) Series와 숫자 연산

In [93]:
# Series의 개별 원소에 연산을 적용하고 그 결과를 Series 객체로 반환
student = pd.Series({'국어': 96, '영어': 90, '수학': 80})
p_student = student / 100
p_student

국어    0.96
영어    0.90
수학    0.80
dtype: float64

##### 2) Series와 Series 연산

In [94]:
# 시리즈 객체에서 동일한 인덱스를 가진 요소끼리 연산이 수행되고 연산 결과를 가진 새로운 시리즈 객체를 반환
student1 = pd.Series({'국어': 96, '영어': 90, '수학': 80})
student2 = pd.Series({'국어': 86, '영어': 100, '수학': 94})
avg_student = (student1 + student2) / 2
avg_student

국어    91.0
영어    95.0
수학    87.0
dtype: float64

[ __인덱스가 서로 다른 경우__ ]

In [95]:
# 시리즈 객체에서 동일한 인덱스를 가진 요소끼리 연산이 수행되고 연산 후에 값으로 정렬된 시리즈 객체를 반환
student1 = pd.Series({'영어': 90, '수학': 80, '국어': 96})
student2 = pd.Series({'수학': 94, '국어': 96, '영어': 100})
sum_student = student1 + student2
sum_student

국어    192
수학    174
영어    190
dtype: int64

##### 3) 연산 메소드
+ +: add
+ -: sub
+ *: mul
+ /: div
+ NaN: fill_value = 0

In [97]:
student1 = pd.Series({'영어': np.nan, '수학': 80, '국어': 96})
student2 = pd.Series({'수학': 94, '영어': 100})
sum_student = student1.add(student2, fill_value=0)
sum_student

국어     96.0
수학    174.0
영어    100.0
dtype: float64

##### 4) DataFrame와 숫자 연산

In [98]:
korean = pd.Series({'s1': 96, 's2': 80, 's3': 96})
english = pd.Series({'s1': 94, 's2': 100, 's3': 83})
math = pd.Series({'s1': 90, 's2': 83, 's3': 92})
score = pd.DataFrame({'kor': korean, 'eng': english, 'mat': math})
score

    kor  eng  mat
s1   96   94   90
s2   80  100   83
s3   96   83   92

In [99]:
# 모든 요소 각각에 숫자 연산을 적용
score = score / 100
score

     kor   eng   mat
s1  0.96  0.94  0.90
s2  0.80  1.00  0.83
s3  0.96  0.83  0.92

##### 5) DataFrame와 DataFrame 연산
+ 동일한 행과 열 위치에 있는 요소끼리 계산
+ 계산 결과는 원래 위치에 넣어서 DataFrame을 만들고 반환환

In [106]:
score = pd.DataFrame({'kor': korean, 'eng': english, 'mat': math})
score1 = score + np.random.randint(-10, 10)
score1

    kor  eng  mat
s1   94   92   88
s2   78   98   81
s3   94   81   90

In [107]:
score2 = score + np.random.randint(-10, 10)
score2

    kor  eng  mat
s1  102  100   96
s2   86  106   89
s3  102   89   98

In [108]:
sum_score = score1 + score2
sum_score

    kor  eng  mat
s1  196  192  184
s2  164  204  170
s3  196  170  188

In [109]:
music = pd.Series({'s1': 96, 's2': 98, 's3': 85})
score1['mus'] = music
score1

    kor  eng  mat  mus
s1   94   92   88   96
s2   78   98   81   98
s3   94   81   90   85

In [110]:
sum_score = score1 + score2
sum_score

    eng  kor  mat  mus
s1  192  196  184  NaN
s2  204  164  170  NaN
s3  170  196  188  NaN

# Pandas 심화 실습

## 4-1 Pandas 심화(1)

### 1. Pandas 심화
</br>

##### 1) CSV 파일
</br>

[ __빅테이터 분석 및 처리__ ]
+ 데이터를 파일에서 읽어올 수 있고, 분석이 끝난 데이터를 파일에다 쓸 수 있어야 함
+ 엑셀, 텍스트, SQL 데이터베이스, CSV 파일 등

</br>

[ __CSV란?__ ]
+ Comma-Separated Values
+ 필드를 쉼표(,)로 구분한 텍스트 데이터 및 텍스트 파일
+ 확장자 csv 사용
+ 파이썬 프로그램을 이용하면 효율적인 처리 가능

</br>

[ __CSV 파일 읽기__ ]

In [ ]:
# read_csv() 함수 : CSV 파일을 읽고 데이터프레임화 함
import pandas as pd
csv_test = pd.read_csv('/content/drive/My Drive/test_csv_file.csv')

In [ ]:
# to_csv() 함수 : 저장할 데이터프레임에서 to_csv() 함수를 호출
cvs_test.to_csv('/content/drive/My Drive/test_csv_file.csv')

##### 2) 데이터와 CSV 파일

In [ ]:
# read_csv() 함수로 rc 생성
rc = pd.read_csv('/content/drive/My Drive/일별평균대기오염도_2018_중구.csv', header=None, encoding='euc-kr')
# header=None : 인덱스 및 헤더를 출력하지 않음
# encoding='euc-kr' : 파일 내용이 한글로 구성되어 있음음

In [ ]:
# 열 이름 지정
rc.columns = ['측정일시', '이산화질소농도(ppm)', '오존농도(ppm)', '이산화탄소농도(ppm)', '아황산가스(ppm)', '미세먼지(ug/m^3)', '초미세먼지(ug/m^3)']

In [ ]:
# 데이터프레임 rc의 내용을 head(), tail() 함수로 일부 확인
print(rc.head())
print('\n')
print(rc.tail())

+ head() 함수
  + 인자 n 사용
  + 기본값 5
  + 데이터프레임의 앞부분 일부 행을 반환

In [ ]:
print(rc.head(3))

+ tail() 함수
  + 인자 n 사용
  + 기본값 5
  + 데이터프레임의 마지막 일부 행을 반환

In [ ]:
print(rc.tail(3))

##### 4) 데이터 요약 정보 확인하기
</br>

[ __데이터프레임의 크기(행,열)__ ]
+ 데이터 프레임 rc의 모양과 크기 확인  
→ 행의 개수, 열의 개수를 튜플로 반환

In [ ]:
print(rc.shape)

[ __데이터프레임의 기본 정보__ ]
+ info() 함수  
→ 데이터프레임의 기본 정보를 화면에 출력

In [ ]:
print(rc.info())
# 첫 번째 행(pandas.core.frame.DataFrame) : 데이터프레임 rc의 클래스 유형
# 두 번재 행(RangeIndex) : @개의 행 인덱스에 관한 사항
# 세 번째 행(Data Columns) : @개의 열에 관환 정보
# 중간 : 각 열의 이름과 데이터 개수, 데이터 형을 나열
# 다음 : 사용된 데이터 형의 개수
# 다음 : 메모리 사용량

[ __데이터프레임의 각 열의 자료형 확인__ ]

In [ ]:
# 데이터프레임 dtypes 속성 활용
print(rc.dtypes)

In [ ]:
# 특정 열에 대해 dtypes 속성 적용
print(rc.초미세먼지.dtypes)

[ __데이터프레임의 기술 통계 정보 요약__ ]
+ describe() 함수  
→ 숫자 데이터를 갖는 열에 대해 주요 통계 정보 요약 출력
+ 주요 통계 정보  
→ 평균, 표준편차, 최대값, 최소값, 중간값 등

In [ ]:
print(rc.describe())
# 각 열의 값을 대상
# count : 데이터 개수
# mean : 평균값
# std : 표준편차
# min : 최소값
# 25%, 50%, 75% : 4분위수
# max : 최대값값

[ __각 열의 데이터 개수 확인__ ]
+ count() 함수  
→ 데이터프레임의 각 열이 갖고 있는 요소 개수를 시리즈 객체로 반환

In [ ]:
print(rc.count())

[ __각 열의 고유값 개수 확인__ ]
+ value_counts() 함수  
→ 고유값은 행 인덱스, 고유값의 개수는 데이터 값이 되는 시리즈 객체 생성

In [ ]:
print(rc['초미세먼지'].value_counts())
# 7 14 -> 초미세먼지 7 마이크로그램 -> 14번 나타남
# dropna=True : 데이터 값 중에 NaN을 제외하고 개수를 셈셈

##### 6) 통계 함수
[ __평균값 확인__ ]
+ mean() 함수  
→ 산술 데이터를 갖는 모든 열의 평균값을 계산하여 시리즈 객체로 반환

In [ ]:
print(rc.mean())

In [ ]:
# 특정 열에 대해 dtypes 속성 적용
print(rc['초미세먼지'].mean())

[ __중간값 확인__ ]
+ median() 함수  
→ 산술 데이터를 갖는 모든 열의 중간값을 계산하여 시리즈 객체로 반환

In [ ]:
print(rc.median())

In [ ]:
# 특정 열에 대해 median() 함수 적용
print(rc['초미세먼지'].median())

[ __최대값 확인__ ]
+ max() 함수  
→ 데이터프레임의 각 열이 갖는 데이터 값 중에서 최대값을 계산하여 시리즈 객체로 반환

In [ ]:
print(rc.max())

In [ ]:
# 특정 열에 대해 max() 함수 적용
print(rc['초미세먼지'].max())

[ __최소값 확인__ ]
+ min() 함수  
→ 데이터프레임의 각 열이 갖는 데이터 값 중에서 최소값을 계산하여 시리즈 객체로 반환

In [ ]:
print(rc.min())

In [ ]:
# 특정 열에 대해 min() 함수 적용
print(rc['초미세먼지'].min())

[ __표준편차 확인__ ]
+ std() 함수  
→ 산술 데이터를 갖는 모든 열의 표준편차를 계산하여 시리즈 객체로 반환

In [ ]:
print(rc.std())

In [ ]:
# 특정 열에 대해 std() 함수 적용
print(rc['초미세먼지'].std())

[ __상관계수 확인__ ]
+ corr() 함수  
→ 산술 데이터를 갖는 모든 열에 대해 2개씩 짝을 짓고 각 경우의 상관계수를 계산

In [ ]:
print(rc.corr())

In [ ]:
# 특정 열에 대해 corr() 함수 적용
print(rc[['미세먼지', '초미세먼지']].corr())

## 4-2 Pandas 심화(2)

### 1. Pandas의 심화 (2)
</br>

##### 1) Pandas 내장 그래프
</br>

[ __그래프 활용__ ]
+ 그래프는 데이터의 의미를 전달하는데 효과적
+ 시각화는 데이터의 분포와 패턴 파악에 용의함

</br>

[ __그래프를 이용한 시각화__ ]
+ Matplotlib 라이브러리의 기능을 일부 내장하여 별도의 임포트 없이 간단히 그래프 활용 가능
+ 시리즈 또는 데이터 프레임 객체에 plot() 시각화 내장 함수를 이용
![plot() 시각화 내장 함수](https://github.com/seoy9/DALC_Scala/blob/201ad58053b370b2b532b25e25b51b51937234aa/%EC%8B%9C%EA%B0%81%ED%99%94%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98.JPG?raw=true)

</br>

[ __한글 폰트 설정__ ]

In [ ]:
# 한글 폰트(나눔) 설치
lapt -qq -y install fonts-nanum

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
plt.rc('font', family="NanumBarunGothic")
mpl.font_manager._rebuild()
# 나눔 폰트 -> 기본 폰트
# 에러 발생 시, colab 메뉴 런타임 -> 런타임 다시 시작작

[ __선 그래프__ ]
+ 옵션 없이 plot() 함수를 적용하면 기본 선 그래프를 그림

In [ ]:
import pandas as pd
data = pd.read.csv('/content/drive/My Drive/일별평균대기오염도_2018_중구.csv', header=None, encoding='euc-kr') # 구글 드라이버에서 read_csv 명령문을 읽어서 data라는 데이터프레임으로 가져옴
data.columns = ['측정일시', '이산화질소농도', '오존농도', '이산화탄소농도', '미세먼지', '초미세먼지']
p_data = data.iloc[:, 5:] # iloc 명령문을 사용하여 전체 데이터에서 필요한 부분만 추출(미세먼지, 초미세먼지)
p_data.plot() # 데이터프레임 p_data를 대상으로 plot 함수를 호출하면 선 모양의 그래프가 자동으로 그려짐

![선 그래프](https://github.com/seoy9/DALC_Scala/blob/3e8e600b0aac2294934c57664204e6e29d783c84/%EC%84%A0%EA%B7%B8%EB%9E%98%ED%94%84.JPG?raw=true)

+ x축 : 측정일을 숫자로 나열
+ y축 : 입방미터당 마이크로그램 단위의 값
+ 파란색 선 : 미세먼지
+ 주황색 선 : 초미세먼지

</br>

[ __막대 그래프__ ]
+ kind='bar' 옵션 적용

In [ ]:
b_data = data.lioc[0:30. :5]
b_data.plot(kind='bar')

![막대 그래프](https://github.com/seoy9/DALC_Scala/blob/226468fe47753322909d5790e21946b981dc0274/%EB%A7%89%EB%8C%80%EA%B7%B8%EB%9E%98%ED%94%84.JPG?raw=true)

+ x축 : 행

</br>

[ __히스토그램__ ]
+ kind='hist' 옵션 사용 __히스토그램__ ]
+ kind='hist' 옵션 사용

In [ ]:
h_data = data.lioc[0:30, :5]
h_data.plot(kind='hist')

![히스토그램](https://github.com/seoy9/DALC_Scala/blob/59b4ba5f0713c9b01cbfc534e80d427cc2136551/%ED%9E%88%EC%8A%A4%ED%86%A0%EA%B7%B8%EB%9E%A8.JPG?raw=true)

+ 입방미터당 90에서 100마이크로그램에 해당하는 값이 30일 중에 2일
+ 30에서 40마이크로그램에 해당하는 일 수는 7일

</br>

[ __산점도__ ]
+ x, y축으로 이루어진 그래프에 두 변수의 값을 점으로 나타낸 그래프
+ 두 변수 사이의 관계를 시각적으로 나타냄
+ kind='scatter' 옵션 적용

In [ ]:
data.plot(x='미세먼지', y='초미세먼지', kind='scatter')

![산점도](https://github.com/seoy9/DALC_Scala/blob/228bdadb45b19aecea5fe84d08f2dc01a05cc2e0/%EC%82%B0%EC%A0%90%EB%8F%84.JPG?raw=true)

+ 미세먼지가 증가할 수록 초미세먼지도 비례적으로 증가하는 경향 볼 수 있음

</br>

[ __박스플롯__ ]
+ 특정 변수의 데이터 분포와 분산 정도에 관한 정보 제공
+ kind='box' 옵션 적용

In [ ]:
data[['미세먼지', '초미세먼지']].plot(kind='box')

![박스플롯](https://github.com/seoy9/DALC_Scala/blob/2f975ebeb841b892bc0013bec294db817915c1bf/%EB%B0%95%EC%8A%A4%ED%94%8C%EB%A1%AF.JPG?raw=true)

+ 미세먼지에 대해서는 5에서 80까지 넓게 분포되어 있음
+ 작은 동그라미로 표시된 이상치도 확인 가능
+ 초미세먼지는 5에서 60까지 분포되어 있음
+ 미세먼지보다 좁은 범위에 몰려있음

</br>

###### 2) 중복 데이터 처리
</br>

[ __중복 데이터__ ]
+ 데이터프레임의 각 행 -> 데이터 셋(레코드)
+ 동일한 데이터 셋이 2개 이상 존재하는 경우 -> 분석 결과> 분석 결과 왜곡
+ 중복 데이터가 있는지를 확인 -> 있을 경우 삭제

</br>

[ __중복 데이터 확인__ ]
+ duplicated() 함수 적용
+ 현재 행 vs 이전 행 비교  
→ 중복된 행이면 True 왜곡
+ 중복 데이터가 있는지를 확인 -> 있을 경우 삭제

</br>

[ __중복 데이터 확인__ ]
+ duplicated() 함수 적용
+ 현재 행 vs 이전 행 비교  
→ 중복된 행이면 True

In [113]:
dataSet = pd.DataFrame({'c1':['a', 'a', 'b', 'a', 'b'], 'c2':[1, 1, 1, 2, 1], 'c3':[1, 1, 2, 2, 2]})
dataSet_dup = dataSet.duplicated()
print(dataSet_dup)

0    False
1     True
2    False
3    False
4     True
dtype: bool

[ __열 요소값에 대해 중복 여부 판별__ ]
+ 열 -> 시리즈 객체
+ duplicated() 함수 적용

In [114]:
c3_dup = dataSet['c3'].duplicated()
print(c3_dup)

0    False
1     True
2    False
3     True
4     True
Name: c3, dtype: bool

[ __중복 데이터 제거__ ]
+ drop_duplicates() 함수 적용  
→ 중복 행들을 제거하고 고유한 값만을 가진 행들만 남김
+ 원본까지 변경할 경우  
→ inplace 옵션에 True를 지정하여 drop_duplicates() 함수 호출출

In [115]:
dataSet2 = dataSet.drop_duplicates()
print(dataSet2)

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2

+ drop_duplicates() 함수 subset 옵션 적용  
→ 중복 행들을 제거하고 고유한 값만을 가진 행들을 남김  
→ subset 옵션에 지정된 열을 기준으로 중복 여부 판단단

In [116]:
dataSet_sub = dataSet.drop_duplicates(subset=['c2', 'c3'])
print(dataSet_sub)

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2