# 주관식
셀을 더블클릭해서  : 다음에 답을 입력하세요.

* matplotlib 인터페이스에는 어떤 종류가 있나?

* matlab스타일의 장점은 무엇인가

* 객체지향스타일의 장점은 무엇인가

* 객체지향스타일은 어떨때 사용하는가

# 빅데이터 시각화
* matplotlib사용
* 선그림과 점그림 
* 다중 서브플롯

해당 질문 밑에 있는 코드셀에 코드를 입력하세요

# matplotlib 인터페이스

### matlab스타일 인터페이스

* matplotlib라이브러리 사용

* 그래프스타일 클래식으로 설정

* 두 개의 패널 중 첫 번째 패널을 생성하고 현재 축을 설정

* 2행 1열 구조 그리드의 첫번째 패널에 사인 그래프 작성

* 2행 1열 구조 그리드의 두번째 패널에 코사인 그래프 작성

* 2행 1열의 축 객체의 배열을 형성하라

* 위의 형성한 객체에 1행에는 넘파이패키지의 sin()함수를 그려라

* 위의 형성한 객체에 1행에는 넘파이패키지의 sin()함수를 그려라

### 기본선그림

### 선그림(lineplot)
* 위와 같은 것이 %로 시작하는 것을 jupyter notebook의 magic command라고 한다.
* %who는 변수명의 리스트를 보여주고 %magic 은 모든 매직명령어를 보여준다.
* 전체적인 magic 명령어에 대해서는 다음 블로그를 참고
* http://studymake.tistory.com/601
* matplotlib 을 jupyter notebook에서 사용할 때, plot의 이미지를 보여주기 위해 magic command를 사용하는데,
* 이때 우리가 사용하는 inline 이외에도 다음과 같은 요소를 사용할 수 있다.
* Available matplotlib backends: ['osx', 'qt4', 'qt5', 'gtk3', 'notebook', 'wx', 'qt', 'nbagg','gtk', 'tk', 'inline']

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import pandas as pd
import numpy as np

*  Series를 통한 line plot 그리기

In [2]:
s = pd.Series(np.random.randn(10).cumsum(), index=np.arange(0, 100, 10))
s

0    -0.460192
10   -0.956607
20   -0.205686
30   -1.113498
40   -1.114530
50   -0.355423
60   -1.068566
70   -0.457802
80   -0.138356
90   -0.401315
dtype: float64

* 시리즈 s의 선그래프를 그려라

*  DataFrame를 통한 line plot 그리기

In [3]:
df = pd.DataFrame(np.random.randn(10, 4).cumsum(axis=0),
                  columns=["A", "B", "C", "D"],
                  index=np.arange(0, 100, 10))
df

           A         B         C         D
0   0.249238 -0.578948 -1.402236 -1.228718
10 -1.586969 -1.247140  0.669186 -1.859794
20 -2.023748 -1.520366  0.647263 -2.380081
30 -2.653050 -1.923661  0.273460 -1.087398
40 -1.424234 -3.483587 -1.039315  0.790053
50  0.258668 -1.846116 -1.725927  3.072249
60  0.136880 -1.668424 -1.214235  4.491767
70  1.003351 -1.312349 -1.747539  4.384076
80  0.895073 -3.180367 -1.435644  3.417587
90  1.862509 -2.849793 -1.488237  2.407241

* 데이터프레임 df의 선그래프를 그려라

* 데이터프레임 df의 B열에 대해서만 선그래프를 그려라

In [4]:
s2 = pd.Series(np.random.rand(16), index=list("abcdefghijklmnop"))
s2

a    0.276990
b    0.833244
c    0.320058
d    0.595165
e    0.207780
f    0.229042
g    0.344896
h    0.079986
i    0.387957
j    0.010355
k    0.176562
l    0.835439
m    0.568625
n    0.434950
o    0.443525
p    0.446756
dtype: float64

## 막대그래프그리기

* s2열에 대해서 막대그래프를 그려라

s2열에 대해서 가로방향의 막대그래프를 그려라

In [5]:
df2 = pd.DataFrame(np.random.rand(6, 4), 
                   index=["one", "two", "three", "four", "five", "six"],
                   columns=pd.Index(["A", "B", "C", "D"], name="Genus"))
df2

Genus         A         B         C         D
one    0.083735  0.847909  0.585040  0.390977
two    0.805151  0.235877  0.598541  0.445850
three  0.801534  0.230440  0.233273  0.405946
four   0.598182  0.341477  0.862277  0.502810
five   0.180827  0.436529  0.748408  0.755155
six    0.420061  0.189484  0.028853  0.826930

* 데이터프레임 df2의 누적막대그래프를 그려라

* 데이터프레임 df2의 가로방향의 누적막대그래프를 그려라

* s3의 히스토그램을 그려라
(히스토그램은 인덱스가 필요없다.)

* x축의 구간개수를50개로 설정하여 s3를 히스토그램으로그려라

## 산점도 그리기

In [6]:
x1 = np.random.normal(1, 1, size=(100, 1))
x2 = np.random.normal(-2, 4, size=(100, 1))
X = np.concatenate((x1, x2), axis=1)
df3 = pd.DataFrame(X, columns=["x1", "x2"])
df3

          x1        x2
0   2.164951 -6.132267
1   1.615138  3.221931
2   1.213518 -0.539978
3   3.171097 -3.248257
4   1.938202 -2.150673
..       ...       ...
95  2.202578 -5.027287
96  0.698536 -8.378725
97  0.496533 -5.162093
98 -0.158065 -5.936603
99  2.335152 -5.155524

[100 rows x 2 columns]

* df3의 x1열을 x축으로 x2열을 y축으로 산점도를 그려라

##  플롯 조정
* color

값 색상

"b" blue

"g" green

"r" red

"c" cyan

"m" magenta

"y" yellow

"k" black

"w" white

* marker

값 마킹

"." point

"," pixel

"o" circle

"v" triangle_down

"^" triangle_up

"<" triangle_left

">" triangle_right

"8" octagon

"s" square

"p" pentagon

"*" star

"h" hexagon

"+" plus

"x" x

"D" diamond

* line style

값 라인 스타일

"-" solid line

"--" dashed line

"-." dash-dotted line

":" dotted line

"None" draw nothing

* plt.plot(np.random.randn(50)에서 색상은 초록, 마킹모양은 원으로 선스타일은 dashed line으로 그려라

* y=x그래프를 solid green 옵션으로 그려라

* y=x+1그래프를 dashed cyan 옵션으로 그려라

* y=x+2 그래프를 dashdot black 옵션으로 그려라

* y=x+3그래프를 dotted red 옵션으로 그려라

* 코사인 그래프를 그리고 x축의 범위를 (-1,11)로 y축의 범위를 (1.5,1.5)으로 설정해라

* 자연상수 그래프(np.exp(x)그래프를 그리고 y축의 스케일을 로그로 설정해라

* 사인그래프를 그리고 축의 레이블를 a sine curve로 지정하고 x축의 레이블을 x, y축의 레이블을 sin(x)라 설정해라

* 사인그래프를 그리고 옵션을 dash green , 레이블을 'sin(x)'로 
* 사인그래프를 그리고 옵션을 dott blue , 레이블을 'cos(x)'로
* 두그래프의 x축의 범위를 동기화
* 그래프의 제목을 'curves of sine and cosine'
* x레이블을 'x'로
* 범례표시해라