# 주관식
셀을 더블클릭해서  : 다음에 답을 입력하세요.

* 판다스에서 제공하는 형식  
1차원 배열의 경우 :    
2차원 배열의 경우 :

* 데이터 프레임의 열이 나타내는 것 :   
* 데이터 프레임의 행이 나타내는 것 :

* 인덱스를 만들 때, 연속하지 않거나 인접하지 않은 인덱스를 사용해서 만들 수 있는가? :   
* 시리즈 객체의 요솟값들의 출력은 입력된 순서인가? :

* 딕셔너리와 시리즈객체의 차이점은? :

* Index와 numpy의 차이점 :

* loc와 iloc 의 차이점 :

* 서로 인덱스 순서가 달라도 계산이 가능한가? :  
  그렇다면 그 이유는? :

# Pandas 데이터 가공하기  
해당 질문 밑에 있는 코드셀에 코드를 입력하세요

* 판다스,넘파이 임포트하기

* 원소를 [1,2,3,4,5]로 가지는 시리즈 만들기

* 인덱스를 각각 a,b,c,d,e로 줘보기

* 딕셔너리 지정하기  
 : CALIFORIA:1, TEXAS:2, NEWYORK:3, FLORIDA:4, LA:5로 딕셔너리 만들기

* 정의한 딕셔너리에서 california키의 값 조회하기

* 정의한 딕셔너리에서 california부터 florida까지 슬라이싱하기

* 객체 구성하기  
출력예 )  
 ![image.png]()  
  : 인덱스가 100,200,300이고 각 값이 5인 시리즈객체 만들기

* A가 다음과 같은 형태가 되도록 코드를 작성하시오  
![image.png]()

In [ ]:
A = pd.Series({2:'a',1:'b',3:'c'})

# DataFrame

* random.rand를 이용해서 행이 3개이고 열이 2개인 데이터프레임에 랜덤 값 채워넣기

* DF라는 변수에 사진 속 데이터 프레임 정의하기  
![image.png]()

* DF의 인덱스를 조회하는 코드 작성

* DF의 컬럼 이름을 보여주는 코드 작성

#Pandas로 데이터 연산하기

* 다음 코드의 오류를 수정하시오

In [ ]:
A = pd.index([2,3,4,7,10])
B = pd.index([4,5,6,8,9])

* A와  B를 교집합하는 코드 작성

* A와 B를 합집합하는 코드 작성

* A와  B를 차집합 하는 코드 작성

* A와 B의 차집합과 B와 A의 차집합, 두개의 결과가 다른가?  
그렇다면 그 이유는? : (답은 여기에 입력)

* 위의 DF에서 Math와 English를 더한 Score라는 컬럼 생성

* DF의 행과 열을 바꿔보기  
출력 예 )  
![image.png]()

* 두학생의 평균점수를 보기 위해 수정해야할 점은?

In [ ]:
import pandas as pd
student1=pd.Series({'국어':96,'영어':90})
student2=pd.Series({'국어':86,'영어':100,'수학':94})

국어    182.0
수학      NaN
영어    190.0
dtype: float64

* add를 이용해서  student1의 수학성적을 0으로 하는 코드 작성

# 추가문제
해당 내용은 영상에 없는 내용 중 판다스에 관한 내용입니다.  
시간이 남으면 구글링을 해서 풀어보세요!

* loc를 이용하여 다음과 같은 결과를 출력하는 코드 작성  
![image.png]()

* iloc를 이용하여 다음과 같은 결과를 출력하는 코드 작성  
![image.png]()

* DF에서 Jane의 수학점수를 59로 변경하는 코드 작성

* DF에서 학생들의 수학 점수의 총점을 구하는 코드 작성

* DF에서 영어 점수의 평균을 구하는 코드 작성

* DF에서 학생들의 수학점수와 영어점수의 상관계수를 구하는 코드 작성

* DF에서 학생의 이름 순서대로 정렬하는 코드 작성

* DF에서 Score성적이 낮은 순서대로 정렬하는 코드 작성